/*
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografia
4. Visuales
5. Otros
*/

:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    position: absolute;
    top: 78px;
    left: calc(50% - 75px);
    width: 150px;
    height: 24px;
}

.header--title-container {
    margin: 0 16px;
}

header div h1 {
    position: absolute;
    top: 135px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 26px;
    color: var(--just-white);
}

header div p {
    position: absolute;
    top: 237px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--soft-orange);
}

header a {
    position: absolute;
    left: calc(50% - 114px);
    bottom: -24px;
    height: 48px;
    width: 229px;
    padding: 15px;
    background: var(--off-white);
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--warm-black);
    border-radius: 4px;
    box-shadow:  0px 4px 8px rgba(89, 73, 30, 0.16);
}

header span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
} 

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container-title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background: url(/assets/img/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container--title h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container--title p {
    margin-bottom: 50px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}